*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #656CEC;
    color: white;
    font-size: 4em;
    text-align: center;
    height: 10vh;
    border-bottom: 2px solid white;
    padding: 4vh;
}
.main{
    height: 35vh;
    
    background: #656CEC;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
}
.circle{
    background: #BABEFF;
    border-radius: 50%;
    height: 21vh;
    width: 21vh;
    position: relative;
    left: 45vw;
    top: -7vh;
    border: 4px solid white;
}
.circle2{
    background: #BABEFF;
    border-radius: 50%;
    height: 16vh;
    width: 16vh;
    position: relative;
    left: 29vw;
    top: -23vh;
    border: 4px solid white;
}
.circle3{
    background: #BABEFF;
    border-radius: 50%;
    height: 16vh;
    width: 16vh;
    position: relative;
    left: 62vw;
    top: -40vh;
    border: 4px solid white;
}
.smallcircle{
    background: #BABEFF;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    position: relative;
    left: 49.4vw;
    top: 0.4vh;
}
.smallcircle2{
    background: #BABEFF;
    color: white;
    font-size: 1.4em;
    text-align: center;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    position: relative;
    left: 32vw;
    top: 2.5vh;
}
.smallcircle3{
    background: #BABEFF;
    color: white;
    font-size: 1.4em;
    text-align: center;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    position: relative;
    left: 65vw;
    top: -1.5vh;
}
.rectangle{
    background: #BABEFF;
    color: white;
    text-align: center;
    border-radius: 30px;
    height: 4vh;
    width: 23vh;
    position: relative;
    top: -40vh;
    left: 44.5vw;
}
.rectangle2{
    background: #BABEFF;
    color: white;
    text-align: center;
    font-size: 0.9em;
    border-radius: 30px;
    height: 3vh;
    width: 17vh;
    position: relative;
    top: -43vh;
    left: 29vw;
}
.rectangle3{
    background: #BABEFF;
    color: white;
    text-align: center;
    font-size: 0.9em;
    border-radius: 30px;
    height: 3vh;
    width: 18vh;
    position: relative;
    top: -46vh;
    left: 61.8vw;
}
.box1{
    background: #D2D4F2;
    height: 10vh;
    margin: 12px;
}
span{
    position: relative;
    font-size: 2em;
    top: 2.3vh;
    left: 3.5vw;
}
.circle4{
    background: #BABEFF;
    border-radius: 50%;
    height: 7.4vh;
    width: 7.4vh;
    position: relative;
    top: -4.5vh;
    left: 11vw;
    border: 2px solid white;
}
.name{
    position: relative;
    font-size: 2em;
    top: -11.6vh;
    left: 22.7vw;
}
.score{
    position: relative;
    font-size: 2em;
    top: -17.5vh;
    left: 80.7vw;
}
img {
    border-radius: 50%;
}